.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px; /* Adjust margin as needed */
}

.header-container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-container nav ul li {
  display: inline-block;
  margin-left: 30px;
}

.header-container nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
